*{
    color: red;
}
/**
Element Selector
**/
h1{
    color: grey;
}
/**
Class Selector
**/

.csit{
    color: teal;
}

/**
ID Selector
**/
#engineering{
    color: green;
}

/**
group selector
**/
.message{
    font-family:sans-serif;
    color: turquoise;
}

.success, .error{
    color: white;
}

.success{
    background-color: darkgreen;
}
.error{
    background-color: red;
}

/**
Chaining Selectors
**/
.message.success{
    background-color: darkcyan;
}
.message{
    background: sienna;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-transform: lowercase;
    text-align: justify;
}


img{
    width: 300px;
    height: 200px;
}

.center{
    text-align: center;
}

body{
    background-color: cadetblue;
    background-image: url('https://picsum.photos/1050/1050');
    background-size: contain;
    background-repeat:repeat;
    background-position: cover;
    background-image:linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}



