/**
p{
    background-color: cadetblue;
    border: 2px solid palegreen;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 20px 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 8);
}

a{
    display: block;
    background-color: paleturquoise;
    margin-right: 10px;
    padding: 20px;
    border: 2px solid slateblue;
}
**/


body{
    background-color: #eee;

}
.card{
        width: 400px;
        background-color: #fff;
        margin: 40px;
}

.card-image{
    width: 100%;

}

.card-image img{
    width: 100%;
}

.card-detail{
    padding: 0px 0px 20px 20px;
}