header{
    height: 100px;
    background-color: #b2d6ff;
}

aside{
    float: left;
    background-color: #f09a9d;
    height: 500px;
    width: 30%;
}

main{
    float: left;
    width: 70%;
    background-color: #f5cf8e;
    height: 700px;   
}

footer{
    clear: left;
    background-color: #d6e9fe;
    height: 200px;
}